header {
    width: 90%;
    margin: 0 auto;
    /* background-color: aqua; */
    height: 10dvh;
    padding: 3rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}